<section class="cc-section cc-404">
  <div class="cc-container cc-404__inner">
    <h1 class="cc-section-title">404</h1>
    <p class="cc-404__text">
      {{ 'general.404.subtext_html' | t }}
    </p>
    <a href="{{ routes.root_url }}" class="cc-button cc-button--primary">
      {{ 'general.404.link' | t }}
    </a>
  </div>
</section>

{% schema %}
{
  "name": "Main 404",
  "settings": [],
  "presets": [
    {
      "name": "Main 404"
    }
  ]
}
{% endschema %}

