<form class="cc-collection-sort" method="get">
  <label for="SortBy" class="cc-label">
    {{ 'collections.sorting.title' | t }}
  </label>
  <select name="sort_by" id="SortBy" class="cc-select" aria-label="{{ 'collections.sorting.title' | t }}">
    {% for option in collection.sort_options %}
      <option value="{{ option.value }}" {% if option.value == collection.sort_by %}selected{% endif %}>
        {{ option.name }}
      </option>
    {% endfor %}
  </select>
</form>

