body{
    margin:0px;
    background-color:lightblue;
    transition:all 1s linear;
}

.container-1{
    
    background: linear-gradient(81deg, lightcoral, blue);
    width:300px;
    display:flex;
    justify-content: center;
    align-items:center; /*great */
    flex-wrap: wrap;
    flex-direction: column;
    position:absolute;
    left:512px;
    top:100px;
    padding: 0px;
    border-radius:5px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    animation:rollIn;
    animation-duration: 2s;
}

.delClass{
        /* display: inline-block; */
        width: 70px;
        position: relative;
        left: 60px;
        bottom: 30px;
}

:root {
    --animate-delay: 2s;
  }

input[type = "text"]{
    cursor:pointer;
    border:3px solid black;
    border-radius:4px;
}


input[type = "text"]:active{
    transform:scale(2);
}


ul li{
    margin-left: 0px;
    list-style: none;
    text-align:start;
    position: relative;
    right: 70px;
    padding-bottom: 10px;
    font-size: medium;
    font-weight:800;
    color: black;
}


.delClass:hover{
    box-shadow: 2px 3px 3px black;
}


/* media query */

@media only screen and (max-width:375px){
    .container-1{
        width:200px;
        height:400px;
        }
}


@media only screen and (max-width:1440px){
    .container-1{
    left:500px;
    }
}

@media only screen and (max-width:1024px){
    .container-1{
    left:350px;
    }
}
@media only screen and (max-width:768px){
    .container-1{
        left:240px;
}
}

@media only screen and (max-width:600px){
    .container-1{

    justify-content: center;
    align-items:center;
    top:100px;
    left:80px;
}
}